<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.nf.xianyu.shopping.dao.CommodityDao">

    <resultMap id="commodityMap" type="edu.nf.xianyu.entity.Commodity">
        <id property="commodityId" column="commodity_id"/>
        <result property="categroyId" column="category_id"/>
        <result property="commodityName" column="commodity_name"/>
        <result property="commodityPrice" column="commodity_price"/>
        <result property="commodityLable" column="commodity_lable"/>
        <result property="commoditySpec" column="commodity_spec"/>
        <result property="commodityDesc" column="commodity_desc"/>
        <result property="commoditySep" column="commodity_sep"/>
        <result property="commodityOrgin" column="commodity_orgin"/>
        <result property="commodityPci" column="commodity_pci"/>
        <result property="commodityStatus" column="commodity_status"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
    </resultMap>
    
    <resultMap id="userCommid" type="edu.nf.xianyu.entity.UserCommid">
        <result property="userId" column="user_id"/>
        <result property="commodityId" column="commodity_id"/>
    </resultMap>

    <resultMap id="userMap" type="edu.nf.xianyu.entity.User">
        <id property="userId" column="user_id"/>
        <result property="userNick" column="user_nick"/>
        <result property="userName" column="user_name"/>
        <result property="userBindMoblie" column="user_bind_moblie"/>
        <result property="password" column="user_password"/>
        <result property="urlHeadUrl" column="user_headUrl"/>
        <result property="userCity" column="user_city"/>
        <result property="userCreateTime" column="user_create_time"/>
    </resultMap>
    
    <resultMap id="categroyMap" type="edu.nf.xianyu.entity.Categroy">
        <id property="categroyId" column="categroy_id"/>
        <result property="categroyCode" column="category_code"/>
        <result property="categroyName" column="category_name"/>
        <result property="categroyLeve" column="category_level"/>
        <result property="categroySeq" column="category_seq"/>
        <result property="endFlag" column="end_flag"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
    </resultMap>

    <select id="getCommodity" resultMap="commodityMap">
        select  * from commodity_info
    </select>

    <select id="getCommodityByUserId" resultMap="commodityMap" parameterType="string">
        select c.user_bind_moblie from
			 commodity_info a  join user_commid b on a.commodity_id = b.commodity_id
			  join user_info c on c.user_id = b.user_id where c.user_bind_moblie=#{phomeNum}
    </select>

</mapper>